# Visual Studio
[Oo]bj
[Bb]in
*.suo
*.Publish.xml
App_Data
packages

# Visual Studio 2015
.vs

# .NET Core
*.lock.json

# merge
*.orig
*.REMOTE.*
*.BASE.*
*.BACKUP.*
*.LOCAL.*

# ReSharper
_ReSharper.*
*.ReSharper
*.user

# DotCover
*.dotCover

#nuget
*.nupkg

# NCrunch
*.ncrunch*

# NUNIT
TestResult.xml